<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.web.mapper.FeedMapper">

	<insert id="saveFeed" parameterType="t_feed"
		useGeneratedKeys="true" keyProperty="feed_idx">
		INSERT INTO t_feed (mb_id,
		res_idx, feed_content, feed_likes, created_at)
		VALUES (#{mb_id},
		#{res_idx}, #{feed_content}, 0, NOW())
	</insert>

	<insert id="saveFeedImg">
		INSERT INTO t_feed_img (feed_idx, feed_img_url)
		VALUES
		<foreach collection="imgUrls" item="url" separator=",">
			(#{feed_idx}, #{url})
		</foreach>
	</insert>

	<select id="selectFeedByMemId">
		SELECT f.feed_idx, f.mb_id, f.res_idx,
		f.feed_content, f.feed_likes, f.created_at, m.mb_nick
		FROM t_feed f
		left JOIN t_member m on f.mb_id=m.mb_id
		where f.mb_id=#{mb_id};
	</select>

	<select id="selectFeedByIdx">
		SELECT f.feed_idx, f.mb_id, f.res_idx,
		f.feed_content, f.feed_likes, f.created_at, m.mb_nick
		FROM t_feed f
		left JOIN t_member m on f.mb_id=m.mb_id
		where feed_idx=#{feed_idx};
	</select>


	<resultMap id="CommentDTOMap"
		type="com.smhrd.web.dto.CommentDTO">

		<!-- 작성자 프로필 이미지 -->
		<result property="mb_img" column="mb_img" />

		<!-- 댓글 정보는 t_comment 객체 안으로 -->
		<association property="comment"
			javaType="com.smhrd.web.entity.t_comment">
			<id property="cmt_idx" column="cmt_idx" />
			<result property="feed_idx" column="feed_idx" />
			<result property="mb_id" column="mb_id" />
			<result property="mb_nick" column="mb_nick" />
			<result property="cmt_content" column="cmt_content" />
			<result property="created_at" column="created_at" />
		</association>
	</resultMap>


	<select id="getCmtByfeedIdx" resultMap="CommentDTOMap">
		select c.*, m.mb_img
		from
		t_comment c
		inner join
		t_member m on m.mb_id = c.mb_id
		where
		feed_idx=#{feed_idx}
		order by
		created_at desc;
	</select>

	<resultMap id="CandidateFeedDTO"
		type="com.smhrd.web.dto.CandidateFeedDTO">
		<result property="feed_idx" column="feed_idx" />
		<result property="res_idx" column="res_idx" />
		<result property="feed_likes" column="feed_likes" />
		<result property="res_category" column="res_category" />
		<result property="res_tag" column="res_tag" />
	</resultMap>

	<select id="getCandidateFeed" parameterType="string"
		resultMap="CandidateFeedDTO">
		SELECT
		f.feed_idx,
		r.res_idx,
		f.feed_likes,
		r.res_category,
		r.res_tag
		FROM
		t_feed f
		LEFT JOIN
		t_restaurant r ON r.res_idx = f.res_idx
		WHERE
		f.mb_id != #{mb_id}
	</select>

</mapper>

