<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.web.mapper.FeedMapper">

	<insert id="saveFeed" parameterType="t_feed" useGeneratedKeys="true" keyProperty="feed_idx">
    	INSERT INTO t_feed (mb_id, res_idx, feed_content, feed_likes, created_at)
    	VALUES (#{mb_id}, #{res_idx}, #{feed_content}, 0, NOW())
	</insert>

</mapper>
