<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.web.mapper.ReviewMapper">

<select id="getReviewFeed">
	SELECT
    r.res_idx,

    (
        SELECT GROUP_CONCAT(review_content SEPARATOR ' ')
        FROM t_review tr
        WHERE tr.res_idx = r.res_idx
          AND tr.mb_id = 'naver12345'
    ) AS naver_reviews,

    (
        SELECT GROUP_CONCAT(review_content SEPARATOR ' ')
        FROM t_review tr
        WHERE tr.res_idx = r.res_idx
          AND tr.mb_id = 'kakao12345'
    ) AS kakao_reviews,

    (
        SELECT GROUP_CONCAT(review_content SEPARATOR ' ')
        FROM t_review tr
        WHERE tr.res_idx = r.res_idx
          AND tr.mb_id NOT IN ('naver12345', 'kakao12345')
    ) AS wagunyam_review,

    (
        SELECT GROUP_CONCAT(feed_content SEPARATOR ' ')
        FROM t_feed tf
        WHERE tf.res_idx = r.res_idx
    ) AS wagunyam_feed

	FROM
    (
        SELECT DISTINCT res_idx FROM t_review
        UNION
        SELECT DISTINCT res_idx FROM t_feed
    ) r

	WHERE r.res_idx = #{res_idx};
</select>
	
</mapper>