@charset "UTF-8";

/* 광고 영역 */
.ad-banner {
  height: 60px;
  background: #e9ecef;
  display: flex; align-items: center; justify-content: center;
  color: #666; font-size: 14px;
}

/*컨텐츠*/
.content {
	padding-top : 50px;
}

/* 피드 전체 */
.feed { 
  padding: 0; 
  margin: 0; 
  max-width: 600px; 
  margin-left: 5px; 
  margin-right: 5px;
}

/* 게시물 카드 : 화면에 꽉 차게 */
.post {
  min-height: calc(100vh - 170px); /* 헤더+광고+하단 네비 제외 */
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-left: 3px; 
  margin-right: 3px;
}
.carousel-item img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.post-header,
.post-actions,
.location-card,
.post-caption {
  padding-left: 12px;
  padding-right: 12px;
}

.post-actions .bi-heart:hover {
  color: red;
  transform: scale(1.2);  /* 살짝 커지는 효과 */
  cursor: pointer;        /* 클릭 가능 모양 */
}

.post-actions .bi-chat:hover {
  cursor: pointer; /*마우스 커서 반응 효과*/
}

/* 프로필 */
.post-header { 
  display: flex; justify-content: space-between; align-items: center; padding: 10px; 
}
.post-user { display: flex; align-items: center; }
.post-user img { cursor: pointer; width: 36px; height: 36px; border-radius: 50%; margin-right: 10px; }
.post-user-info { font-size: 13px; }
.post-user-info b { font-size: 14px; }
.follow-btn {
  background: #FFD84D; border: none; padding: 4px 10px;
  border-radius: 8px; font-size: 13px; font-weight: bold;
  margin: 0px;
}

.btn-wrapper {
  display: flex;
  gap: 4px; /* 버튼 간격 조절 */
}


/* Carousel 이미지 */
.carousel-item img {
  width: 100%;
  height: 60vh; /* 화면 비율에 맞게 */
  object-fit: cover;
}
.post .carousel { flex: 1; }


/* 액션 영역 */
.post-actions {
  display: flex; align-items: center;
  padding: 8px 12px; font-size: 1.2rem;
}
.post-actions .stats { font-size: 14px; margin-left: 8px; }

/* 장소 카드 */
.location-card {
  display: flex; align-items: center; justify-content: space-between;
  background: #fdf7e6; border-top: 1px solid #f2e3c0;
  padding: 8px 12px; cursor: pointer;
}
.location-info { font-size: 13px; }
.location-info b { display: block; }

/* 본문 텍스트 */
.post-caption {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.4;
  min-height: 70px;
}
.more-btn {
  color:#666; font-size:13px; cursor:pointer; display:inline-block;
}

